<div data-controller="navbar cart login"
     class="fixed top-0 left-0 right-0 z-50 bg-black">
  <header class="h-16 flex items-center">
    <nav class="container mx-auto flex justify-between items-center">
      <div>
        <%= link_to "DAILY GRIND ", root_path, class: "text-2xl text-white afacad" %>
      </div>
      <%= render 'shared/search_form' %>

      <div class="flex items-center space-x-4 text-white afacad">
        <% if user_signed_in? %>
          <!-- Category Dropdown -->
          <%= render 'shared/category_dropdown' %>
          <%# ------------------ %>

          <%= link_to 'Wishlist', wishlist_path, class: "hover:bg-white hover:text-black px-2 py-1 rounded transition duration-300" %>
          <%= turbo_frame_tag "cart_button" do %>
            <%= render 'shared/cart_button', cart: @cart %>
          <% end %>
          <%= render 'shared/profile_dropdown' %>
          <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "mt-4 hover:bg-white hover:text-black px-2 py-1 rounded transition duration-300" %>
        <% else %>
          <!-- Category Dropdown -->
          <%= render 'shared/category_dropdown' %>
          <%# --------------------- %>
          <div class="relative" data-login-target="wrapper">
            <button data-action="login#toggleModal" class="hover:bg-white hover:text-black px-2 py-1 rounded transition duration-300">Log in</button>
            <%= render 'shared/login_modal' %>
          </div>
          <%= turbo_frame_tag "cart_button" do %>
            <button data-action="cart#open" class="hover:bg-white hover:text-black px-2 py-1 rounded transition duration-300 flex items-center">
              My Basket
              <span id="cart-count" class="ml-1 bg-red-500 text-white rounded-full px-2 py-1 text-xs">
                <%= @cart.total_items %>
              </span>
            </button>
          <% end %>
        <% end %>
      </div>
    </nav>
  </header>
  <!-- Side Cart -->
  <div id="side-cart"
       data-cart-target="sideCart"
       class="fixed top-0 right-0 h-full w-80 bg-white shadow-lg transform translate-x-full transition-transform duration-300 ease-in-out z-50">
    <button data-action="cart#close" class="absolute top-0 left-0 m-4 text-gray-600 hover:text-gray-800">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
    <div data-cart-target="cartContent" class="p-4 mt-12 overflow-y-auto h-full">
    </div>
  </div>
</div>
